body {
	width: 200px;
	padding: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background-color: #f0f0f0;
	/*background-image: url('confetti.png');*/
	background-image: none;
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	width: 60px;
	height: auto;
}


h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #7b97e7;
}

/* Header section */

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heart {
	color: #7b97e7!important;
}

.header h1 {
	font-size: 40px;
	font-weight: 100;
	color: #7d7d7d;
	margin-top: 0px;
}

/* Price section */

.data {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	padding: 20px 0;
	width: 100%;
}

.data--item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.donate--item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
}

/* Button section */
.submit {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Button styles */
.btn {
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	background: #7b97e7;
	border: 3px solid #7b97e7;
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-1 {
	color: #fff;
	border: 3px solid #7b97e7;
}

.btn-1a:hover,
.btn-1a:active {
	color: #7b97e7;
	background: #f0f0f0;
	border: 3px solid #7b97e7;
}

/* Charity section */
.charity {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 12px;
}

.charity p {
	margin: 0;
}

