<html>
  <head>
    <title>My Angular App!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/scripts/utils/apiurls.js"></script>
    <script src="/scripts/services/apiServices.js"></script>
    <script src="/scripts/factories/tokenFactory.js"></script>
    <script src="/scripts/factories/languageFactory.js"></script>
    <script src="/scripts/factories/formatFactory.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl">
    <div class="row">
      <div class="col-md-12">
        <ui-view></ui-view>
      </div>
    </div>

    <!-- Welcome page --> 
    <script type="text/ng-template" id="/home.html">
      <div class='sidebar'>
        <div class='home sidebar-option'>
          <a href='#'>Home</a>
        </div>
        <div class='talking sidebar-option'>
          <a href='#'>Talking Points</a>
        </div>
        <div class='notes sidebar-option'>
          <a href='#'>Notes</a>
        </div>
        <div class='symptoms-log sidebar-option'>
          <a href='#'>Symptoms log</a>
        </div>
        <div class='documents sidebar-option'>
          <a href='#'>Documents</a>
        </div>
        <div class='lookup sidebar-option'>
          <a href='#/lookup'>Diagnosis</a>
        </div>
        <div class='account sidebar-option'>
          <a href='#'>Account</a>
        </div>
        <div class='logout sidebar-option'>
          <a href='#'>Logout</a>
        </div>
      </div>
      <div class='welcome page'>
        <div>
          <h1>Welcome</h1>
          <h4>Your personalized health app portal</h4>
        </div>
      </div>

      <!-- =========== THIS PART IS HIDDEN - put this in a different "notes" and "talking point" controller -->
      <div class='hide'>
      <div class="page-header">
        <h1>Notes</h1>
      </div>
      <span>
        <a href="#/lookup">Symptom lookup</a>
      </span>
      <!-- Unfinished talking points -->
      <h2>Talking points</h2>
      <ol>
        <div ng-repeat="point in points | orderBy: '-priority'">
          <li>
            {{point.title}} [Priority {{point.priority}}]
            <span ng-click="incrementPriority(point)">+</span>
            <span ng-click="decrementPriority(point)">-</span>
            <span ng-click="completedPoint(point)">Complete</span>
          </li>
        </div>
      </ol>

      <!-- Completed talking points -->
      <h2>Completed</h2>
      <ul>
        <div ng-repeat="point in completed">
          <li>
            <span ng-click="undoComplete(point)">(Undo)</span>
            {{point.title}} [Priority {{point.priority}}]
          </li>
        </div>
      </ul>

      <!-- Add talking point -->
      <h2>Add point</h2>
      <form ng-submit="addPoint()">
        <input type="text" placeholder="Title" ng-model="title"></input>
        <br>
        <button type="submit">Add</button>
      </form>

      <!-- Notes -->
      <h2>Notes</h2>
      <ul>
        <div ng-repeat="note in notes">
          <li>
            {{note.desc}}
            <span ng-click="deleteNote(note)">Delete</span>
          </li>
        </div>
      </ul>

      <!-- Add notes -->
      <h2>Add note</h2>
      <form ng-submit="addNote()">
        <input type="text" placeholder="Desc" ng-model="desc"></input>
        <br>
        <button type="submit">Add</button>
      </form>
    </div> <!-- ======================================================= END OF HIDDEN CLASS -->
    </script>

    <!-- Lookup view -->
    <script type="text/ng-template" id="/lookup.html">
      <div class="page-header">
        <h1>Lookup</h1> <span>
        <a href="#/home">Home</a>
      </span>
      </div>
    

      <!-- Symptoms forms -->
     <!--  <h2>Enter bio</h2>
      <form ng-submit="submitSymptomForm()">
        <input type="text" placeholder="Sex" ng-model="sex"></input>
        <br>
        <input type="number" placeholder="Age" ng-model="age"></input>
        <br>
        <input type="text" placeholder="Symptom1" ng-model="s1"></input>
        <br>
        <input type="text" placeholder="Symptom2" ng-model="s2"></input>
        <br>
        <input type="text" placeholder="Symptom3" ng-model="s3"></input>
        <br>
        <button type="submit">Submit description</button>
      </form>   -->

      <!-- Results -->
      <!-- <div id="possible-symptoms"></div> -->


<!-- Get Diagnosis Based on Symptoms -->
      <div class="container">
       
          <div class="panel panel-info">
            <div class="panel-heading">
                <a ng-click="loadDiagnosis(selectedSymptoms,gender,yearOfBirth)" role="button" class="btn btn-success">
                    Get Diagnosis
                </a>
                <a ng-click="loadDiagnosis(selectedSymptoms,gender,yearOfBirth)" role="button">
                   
                </a>
                <div class="pull-right">
                    Symptoms (comma separated ids):<input type='text' ng-model='selectedSymptoms' />
                    |
                    <label>
                        <input type="radio" ng-model="gender.value" value="male">
                        Male
                    </label>
                    <label>
                        <input type="radio" ng-model="gender.value" value="female">
                        Female
                    </label>
                    |
                    Year of Birth:<input type='number' ng-model='yearOfBirth' class='single-number' />
                </div>
            </div>
            <div class="panel-body">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" ng-show="diagnosis != ''">
                            <pre class="data">{{diagnosis | json}}</pre>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="alert alert-warning" ng-show="diagnosisConfig != ''">
                            <pre class="data">{{diagnosisConfig | json}}</pre>
                        </div>
                    </div> -->
                </div>
                <div class="alert alert-danger" ng-show="diagnosisError != ''">
                    <pre class="data">{{diagnosisError | json}}</pre>
                </div>
            </div>
        </div>
      </div>
      </div>

    </script>
  </body>
</html>